
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColorLight: #83BD75;
	--mainColor: #4E944F;
	--secondaryColor: #EAE509;
	--textColor: #000;
}
.landing {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px; 
}
.landing-content {
  width: 50%;
  height: 100%;
 background-color: var(--mainColor);
 padding: 40px;
 padding-left: 50px;
}
.landing-image {
  width: 50%;
  height: 100%;
  background-image: url(./images/mental-health.jpg);
  max-width: 100%;
  height: 100%;
  background-position: center;
  background-position: cover;
 
}
.landing h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.landing p {
  font-size: 27px;
  margin-bottom: 30px;
}
.landing a{
  font-size: 25px
}
.landing-content a:hover {
  color: #fff;
}
.review{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  font-style: normal;
}
.review p{
  font-size: 40px;
}
.review-container{
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  text-align: center;
  gap: 3rem; 
}
.review-container img{
  width: 10vh;
  height: 10vh;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
}
.review-container p{
  font-size: 20px;
  padding-bottom: 2rem;  
}
h5{
  color: #4E944F;
  font-size: 1.5rem;
}
footer{
  padding-left: 60px;
  background-color: var(--mainColorLight);
}
footer p{
  font-size: 15px;
}

@media only screen and (max-width: 1024px) {
    .landing {
      width: 100vw;
      height: 100vh;
      display: grid;
      padding-top: 40px;  
    }
    .landing-content {
      width: 100%;
      height: 50vh;
     background-color: var(--mainColor);
     padding-left: 25px ;
     margin-bottom: 5px;
    }
    .landing-image {
      width: 100%;
      height: 50vh;
      background-image: url(./images/mental-health.jpg);
     background-size: cover; 
    }
    .landing h1 {
      font-size: 60px; 
    }
    .landing p {
      font-size: 25px;
      margin-bottom: 30px;
    }
    .landing a{
      font-size: 20px;
      color: var(--textColor);
    }
    .review{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    font-size: 20px;
    font-style: normal;
}
.review p{
  font-size: 40px;
  padding-top: 1rem;
}
.review-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: space-between;
  padding: 0 4rem;
  text-align: center;
  gap: 2rem;
}
.emily{
  width: 100%;
  height: 30vh;
}
.thomas{
  width: 100%;
  height: 30vh; 
}
.jennie{
  width: 100%;
  height: 30vh;
}
.review-container img{
  width: 10vh;
  height: 10vh;
  border-radius: 50px;
  background-position: center;
  background-size: cover;

}
.review-container p{
  font-size: 25px;
  padding-bottom: 20px;  
}
h5{
  color: #4E944F;
  font-size: 30px;
}
footer{
  padding-left: 60px;
  background-color: var(--mainColorLight);
  padding-top: 1rem;
}
footer p{
  font-size: 15px;
}
}
@media only screen and (max-width: 768px) {
  
  .landing {
    width: 100vw;
    height: 100vh;
    display: grid;
    padding-top: 40px; 
   
  }
  .landing-content {
    width: 100%;
    height: 60vh;
   background-color: var(--mainColor);
   padding-top: 4rem;
   padding-left: 24px ;
   margin-bottom: 5px;
  }

  .landing-image {
    width: 100%;
    height: 40vh;
    background-image: url(./images/mental-health.jpg);
    background-size: cover;
  }
  .landing h1 {
    font-size: 60px;
   
  }
  
  .landing p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .review{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    font-size: 20px;
    font-style: normal;
 
}
.review p{
  font-size: 40px;
}
.review-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: space-between;
  padding: 0 2rem;
  text-align: center;
  gap: 1.2rem;
  /* background-color: var(--mainColorLight); */
}
.emily{
  width: 100%;
  height: 30vh;
  
}
.thomas{
  width: 100%;
  height: 30vh;
 
}
.jennie{
  width: 100%;
  height: 30vh;
  
}
.review-container img{
  width: 10vh;
  border-radius: 50px;
}
.review-container p{
  font-size: 14px;
  padding-bottom: 5px;  
}
h5{
  color: #4E944F;
  font-size: 1.3rem;
}
footer{
  padding-left: 20px;
  display: flex;
  justify-content: center;
}
footer p{
  font-size: 15px;
}
}
